In [1]:
%load_ext autoreload

In [2]:
import sys

if '../' not in sys.path:
    sys.path.append('../')

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('chart.csv', index_col=0, parse_dates=True)

In [5]:
df

                      timestamp     open    close     high      low     volume
Date
2023-02-15 07:45:00  1676414700  2959408  2957001  2961553  2955983  10.566818
2023-02-15 08:00:00  1676415600  2956934  2955947  2956934  2950902  14.757816
2023-02-15 08:15:00  1676416500  2956302  2960952  2963529  2953848  13.971808
2023-02-15 08:30:00  1676417400  2961786  2958882  2963253  2958074   8.201428
2023-02-15 08:45:00  1676418300  2959111  2956934  2959554  2956925   3.424541
...                         ...      ...      ...      ...      ...        ...
2023-02-25 16:30:00  1677310200  3153672  3154364  3155012  3153232   4.776640
2023-02-25 16:45:00  1677311100  3153627  3154630  3154950  3153627   3.082228
2023-02-25 17:00:00  1677312000  3154630  3155641  3155965  3152279   7.044401
2023-02-25 17:15:00  1677312900  3155965  3162083  3162377  3154537   9.688230
2023-02-25 17:30:00  1677313800  3161025  3162152  3162414  3159366   5.284233

[1000 rows x 6 columns]

In [6]:
%autoreload

from fxtrade.timeseries import split_into_chunks, time_arange, normalize_time_index
from fxtrade.period import to_period_str, is_divisor
from fxtrade.brownian import Brownian

In [7]:
df2 = df.drop(df.index[[100, 101, 204, 205, 206, 208, 995, 996, 997]])

In [8]:
brown = Brownian(df2)

In [9]:
brown._data

                      timestamp     open     high      low    close     volume
Date
2023-02-15 07:45:00  1676414700  2959408  2961553  2955983  2957001  10.566818
2023-02-15 08:00:00  1676415600  2956934  2956934  2950902  2955947  14.757816
2023-02-15 08:15:00  1676416500  2956302  2963529  2953848  2960952  13.971808
2023-02-15 08:30:00  1676417400  2961786  2963253  2958074  2958882   8.201428
2023-02-15 08:45:00  1676418300  2959111  2959554  2956925  2956934   3.424541
...                         ...      ...      ...      ...      ...        ...
2023-02-25 15:45:00  1677307500  3152091  3154663  3151692  3152383   5.191776
2023-02-25 16:00:00  1677308400  3152157  3154000  3151761  3152805   1.149584
2023-02-25 16:15:00  1677309300  3153639  3154159  3152106  3153672   1.419448
2023-02-25 17:15:00  1677312900  3155965  3162377  3154537  3162083   9.688230
2023-02-25 17:30:00  1677313800  3161025  3162414  3159366  3162152   5.284233

[991 rows x 6 columns]

In [10]:
brown.fit()

Brownian(dt=0 days 00:15:00, loc=9.093371899915326e-06, scale=2.6140911176464846e-05)

In [14]:
brown.transform()

Brownian(dt=0 days 00:15:00, loc=9.093371899915326e-06, scale=2.6140911176464846e-05)

In [19]:
brown._data

,timestamp,open,high,low,close,volume
2023-02-15 07:45:00,1676414700.0,2959408.0,2961553.0,2955983.0,2957001.0,10.566818
2023-02-15 08:00:00,1676415600.0,2956934.0,2956934.0,2950902.0,2955947.0,14.757816
2023-02-15 08:15:00,1676416500.0,2956302.0,2963529.0,2953848.0,2960952.0,13.971808
2023-02-15 08:30:00,1676417400.0,2961786.0,2963253.0,2958074.0,2958882.0,8.201428
2023-02-15 08:45:00,1676418300.0,2959111.0,2959554.0,2956925.0,2956934.0,3.424541
...,...,...,...,...,...,...
2023-02-25 16:30:00,NaN,NaN,NaN,NaN,NaN,NaN
2023-02-25 16:45:00,NaN,NaN,NaN,NaN,NaN,NaN
2023-02-25 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2023-02-25 17:15:00,1677312900.0,3155965.0,3162377.0,3154537.0,3162083.0,9.68823
2023-02-25 17:30:00,1677313800.0,3161025.0,3162414.0,3159366.0,3162152.0,5.284233

In [11]:
for t, tick in brown.iterate():
    print(t)
    break

2023-02-15 07:45:00

In [12]:
is_lake = True
while is_lake:
    x = brown.tick()
    is_lake = x is not None

In [13]:
x

In [15]:
%autoreload
from fxtrade.timeseries import get_first_timestamp

In [16]:
df2.index[0]

Timestamp('2023-02-15 07:45:00')

In [17]:
get_first_timestamp(df2.index[0], '1h')

Timestamp('2023-02-15 07:00:00')

In [18]:
pd.DataFrame([
    {'a': 1, 'b': 2},
    {'a': 3, 'b': 4, 'c': 5}
])

   a  b    c
0  1  2  NaN
1  3  4  5.0