In [1]:
%load_ext autoreload

In [2]:
import pandas as pd

In [3]:
import sys

if '../' not in sys.path:
    sys.path.append('../')

if '../../keyhold' not in sys.path:
    sys.path.append('../../keyhold')

In [4]:
%autoreload

from fxtrade.stock import Stock, Rate
from fxtrade.trade import Trade, TradePair, History, Report
from fxtrade.stocks import JPY, BTC

from fxtrade.api import ChartAPI
from fxtrade.yfinance import YahooFinanceAPI
from fxtrade.chart import Chart

In [5]:
from keyhold import KeyHold

In [6]:
key_config = KeyHold()

In [7]:
yfi = YahooFinanceAPI(api_key=key_config['yahoo']['x-api-key'])

In [8]:
chart = Chart(
            ticker='BTC-JPY',
            api=YahooFinanceAPI(api_key=key_config['yahoo']['x-api-key']),
            data_dir='../data/chart'
        )

In [9]:
chart.dirmap

Haze(BTC-JPY, {'10y-1d': '10y-1d', '1mo-15m': '1mo-15m', '5d-1m': '5d-1m'})

In [10]:
chart.dirmap.ensure()

[Branch]
  ../data/chart/BTC-JPY   ... OK
  ../data/chart/BTC-JPY/10y-1d   ... OK
  ../data/chart/BTC-JPY/1mo-15m   ... OK
  ../data/chart/BTC-JPY/5d-1m   ... OK

In [11]:
chart.dirmap

Haze(BTC-JPY, {'10y-1d': '10y-1d', '1mo-15m': '1mo-15m', '5d-1m': '5d-1m'})

In [12]:
chart.api.empty

Empty DataFrame
Columns: [timestamp, open, close, high, low, volume]
Index: []

In [13]:
chart.dirmap['10y-1d'].last()

PosixPath('../data/chart/BTC-JPY/10y-1d/20220521_chart.csv')

In [14]:
chart.dfs

{'10y-1d': Empty DataFrame
 Columns: [timestamp, open, close, high, low, volume]
 Index: [],
 '1mo-15m': Empty DataFrame
 Columns: [timestamp, open, close, high, low, volume]
 Index: [],
 '5d-1m': Empty DataFrame
 Columns: [timestamp, open, close, high, low, volume]
 Index: []}

In [15]:
chart.dfs['10y-1d']

Empty DataFrame
Columns: [timestamp, open, close, high, low, volume]
Index: []

In [16]:
chart['10y-1d']

Empty DataFrame
Columns: [timestamp, open, close, high, low, volume]
Index: []

In [17]:
#chart.download('10y-1d')

In [18]:
#chart.update('10y-1d')

In [19]:
chart['10y-1d']

Empty DataFrame
Columns: [timestamp, open, close, high, low, volume]
Index: []

In [20]:
#chart.save('10y-1d')

In [21]:
chart.load('10y-1d')

,timestamp,open,close,high,low,volume
0,1410912000,4.991267e+04,4.963904e+04,5.019294e+04,4.899278e+04,2285505072
1,1410998400,4.958758e+04,4.617907e+04,4.956474e+04,4.492919e+04,3751772160
2,1411084800,4.614241e+04,4.303671e+04,4.671102e+04,4.182939e+04,4133626497
3,1411171200,4.302330e+04,4.457462e+04,4.614350e+04,4.250114e+04,4018501036
4,1411257600,4.448534e+04,4.345155e+04,4.495856e+04,4.286066e+04,2895901895
...,...,...,...,...,...,...
2799,1652745600,3.850602e+06,3.937877e+06,3.979802e+06,3.825929e+06,3766467904953
2800,1652832000,3.937698e+06,3.674285e+06,3.962024e+06,3.674285e+06,4002433874429
2801,1652918400,3.674296e+06,3.875879e+06,3.885577e+06,3.690852e+06,4318148062018
2802,1653004800,3.875468e+06,3.733752e+06,3.929158e+06,3.675465e+06,3931769079845
2803,1653145696,3.729626e+06,3.763780e+06,3.770505e+06,3.716114e+06,2966449553408